<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pee Taipei 台北尿尿網</title>
  <link rel="stylesheet" href="./stylesheets/all.css">
</head>
<!-- <div class="col col-12 col-md-4 col-lg-3 bg-light" v-for="(item,index) in showData" :key="index">
        <div class="card my-3 mx-2">
          <div class="card-header bg-dark">
            <p class="mb-0 text-white">
              【{{currentPage}}-{{index+1}}】 公廁名稱 : 
              <span class="text-warning">{{item.公廁名稱}}</span>
            </p>
          </div>
          <div class="card-body">
            <h6 class="card-title">地址: {{item.公廁地址}}</h6>
            <a href="https://www.google.com.tw/maps/place/item.緯度+item.經度" class="btn btn-warning d-block">地圖開關</a>
          </div>
        </div>
      </div> -->

<body>
  <div id="app">
    <header class="header">
      <nav class="navbar bg-dark bg-opacity-75 justify-content-center">
        <h1 class="navbar-brand mb-0 text-white">
          <a href="index.html" class="text-decoration-none text-white">
            PeeTaipei<span class="fs-6"> 台北尿尿網</span>
          </a>
        </h1>
      </nav>
      
      <div class="container h-75 d-flex  align-items-center">
        <input class="form-control search-bar mx-auto w-75 bg-light text-dark shadow-lg" type="search" placeholder="請輸入區或路名尋找附近的廁所" aria-label="Search" v-model="cacheInput">
      </div>
    </header>
    <div class="row gx-0">
      <!-- ------------- -->
      <card 
      :item="item"
      :index="index"
      v-for="(item,index) in showData"
      :key="index"
      :current-page="currentPage"
      @go-map="goMap(item.緯度,item.經度)"
      ></card>
      <!-- ------------- -->
    </div>
    <!-- ------------------ -->
    <pagination
    :current-page="currentPage"
    :total-page="totalPage"
    @previous-page="previousPage"
    @next-page="nextPage"
    ></pagination>

    <!-- ------------------- -->
    <footer class="footer bg-dark text-secondary text-center py-3">
      PeeTaipei 關心您尿尿的地方<br><span class="fz-14">Copyright&copy2022 Chen ChienYu</span>
    </footer>
  </div>
  <!-- https://www.google.com.tw/maps/place/25%C2%B005'25.7%22N+121%C2%B030'22.2%22E -->
  <!-- https://www.google.com.tw/maps/place/25.090457N+121.506159E -->
  <!-- https://www.google.com.tw/maps/place/{{25.090457N}}+{{121.506159}} -->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const app = Vue.createApp({
      data(){
        return {
          // apiUrl:'https://quality.data.gov.tw/dq_download_json.php?nid=138798&md5_url=64e392a0fcb63fa9fb1f596bcb86e96b',
          apiUrl:'./64e392a0fcb63fa9fb1f596bcb86e96b_export.json',
          apiData:[],
          // test:123,
          totalPage:0,//總頁數
          prePageData:[],//每頁資料
          currentPage:1,//當前頁面
          // -----------------
          cacheInput:'',//搜尋欄輸入的資料放這邊
          filterData:[],//搜尋篩選的資料放這邊

        }
      },
      methods: {
        // api--------------------
        getData(){
          axios.get(this.apiUrl)
          .then((res) =>{
            this.apiData = res.data
            this.pageNum()
          })
          .catch(err => console.log(err.response))
        },
        //計算總頁數 6/18 apiData 改 filterSearch
        pageNum(){
          this.prePageData=[]//先清空
          this.totalPage = Math.ceil(this.filterSearch.length / 20)
          for(let i =0; i<this.totalPage; i++){
            let tempArr = this.filterSearch.slice(i*20,i*20+20)
            this.prePageData.push(tempArr)
          }
        },
        goMap(w,j){
          console.log(w,j);
          window.location.href=`https://www.google.com.tw/maps/place/${w},${j}`
        },
        
        //上一頁
        previousPage(){
          if(this.currentPage ===1){
            return
          }else{
            this.currentPage -= 1
          }
        },
        //下一頁
        nextPage(){
          if(this.currentPage === this.totalPage){
            return
          }else{
            this.currentPage += 1
          }
        },
        
      },
      created(){
        this.getData()
      },
      computed: {
        filterSearch(){
          return this.apiData.filter((item) =>{ 
            return item.公廁地址.match(this.cacheInput)
          })
        },
        showData(){
          return this.prePageData[this.currentPage-1]
        }
      },
      watch:{
        filterSearch: function(){
          this.pageNum()
        }
      }
    })
    //元件------------------
    app.component('card',{
      props:['item','index','currentPage'],
      methods:{
        goMap(){
          this.$emit('go-map')
        }
      },
      template:
      `<div class="col col-12 col-md-4 bg-light">
        <div class="card my-3 mx-2">
          <div class="card-header bg-secondary">
            <p class="mb-0 text-white">
              【{{currentPage}}-{{index+1}}】 公廁名稱 : 
              <span class="text-warning">{{item.公廁名稱}}</span>
            </p>
          </div>
          <div class="card-body">
            <h6 class="card-title">地址: {{item.公廁地址}}</h6>
            <p class="mb-0 text-danger d-inline-block pe-3 mb-2">經度: {{item.經度}} 緯度: {{item.緯度}}</p>
            <a href="#"
             class="btn btn-outline-dark" @click.prevent="goMap">地圖</a>
          </div>
        </div>
      </div>`,
    })
    app.component('pagination',{
      props:['currentPage','totalPage'],
      methods:{
        previousPage(){
          this.$emit('previous-page')
        },
        nextPage(){
          this.$emit('next-page')
        }
      },
      template:
      `<div class="pagination d-flex justify-content-center align-items-center my-4">
      <button type="button" class="btn btn-outline-dark mx-2" @click="previousPage">
        前一頁
      </button>
      <p class="mb-0">目前第{{currentPage}}頁 / 共{{totalPage}}頁</p>
      <button type="button" class="btn btn-outline-dark mx-2" @click="nextPage">
        下一頁
      </button>
    </div>`,
    })
    app.mount('#app')
  </script>
</body>
<!-- <input type="text" :value="item.緯度 +','+ item.經度"> -->
<!-- <p class="mb-0 text-danger d-inline-block pe-3 mb-2">經度: {{item.經度}}</p>
<p class="mb-0 text-danger d-inline-block pe-3 mb-2">緯度: {{item.緯度}}</p> -->
<!-- https://www.google.com.tw/maps/place/{{item.緯度}}{{item.經度}} -->
</html>